@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Retial Store</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/rly.css" />
    <link rel="stylesheet" href="~/css/w3.css" />
    <link rel="stylesheet" href="~/css/w3-theme-blue-grey.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        html, body, h1, h2, h3, h4, h5 {
            font-family: "Raleway", sans-serif
        }
    </style>

    <script src="~/js/jquery-3.2.1.min.js"></script>

    <script>


        // $(document).ready(function () {
        //   $.ajax({
        //     type: "GET",
        //   dataType: "json",
        // url: "http://localhost:60816/api/products",
        //processData: true,
        //success: function (data) {
        //  alert(data);
        //}
        //});

        //});


        function loadProducts() {
            //var key=
            var method = "GET";
            var url = "http://localhost:60816/api/products";
            var xhr = new XMLHttpRequest();
            if (!('withCredentials' in xhr)) {
                alert('Browser does not support CQRS');
                return;
            }
            //alert("step1");
            xhr.open(method, url);
            xhr.onerror = function () {
                alert('There was an error');
            };
            xhr.onload = function () {
                alert("step2");

                var data = JSON.parse(xhr.responseText);
                if (data == null) {
                    alert('Some error in object');
                } else {

                    alert("YES");
                    alert(data[0].product_name);
                }

            };
            alert("Test");
            xhr.send();
        }

    </script>
</head>
<body   class="w3-light-grey">

    <!-- Top container -->
    <!-- Top container -->
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar" style="width:250px;" id="mySidebar">
    
    <div class="w3-container w3-row">
        <div class="w3-col s8 w3-bar">
            <span>Welcome, <strong>Abhilash</strong></span><br>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
        </div>
    </div>
    <hr>
    <div class="w3-container">
        <h5>Dashboard</h5>
    </div>
    <div class="w3-bar-block">
        <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
        <a href="index" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-bookmark fa-fw"></i>Home</a>
        <a href="views" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw"></i>  Products</a>
        <a href="people" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bars fa-fw"></i>  Orders</a>
        <a href="decisions" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw"></i>  Profile</a>
    </div>
    </nav>
   
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">

        <!-- Header -->
        <header class="w3-container" style="padding-top:5px">
            <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
            <input value="Test" type="button" onclick="loadProducts();" />
        </header>


        <div class="w3-panel">
            <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-third">
                    <h5>Products</h5>
                    <table name="tb_products" class="w3-table w3-striped w3-white">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    </table>

                    <div class="product.info">
                        <img src="Test.jpg">
                        <h3>Testme</h3>
                        <ul class="product-props">
                            <il>
                                Case 1 </li>
                                <il>
                                    Case 2 </li>
                                    <il> Case 3 </li>
                        </ul>
                        <button id="buybutton">Buy</button>
                    </div>
                </div>

            </div>
        </div>
        <hr>


        <!-- Footer -->
        <footer class="w3-container w3-padding-16 w3-light-grey">
            <h4>FOOTER</h4>
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </footer>

        <!-- End page content -->
    </div>

    <script>
        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");

        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }
    </script>

</body>
</html>
